<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Neat PHP Framework helps you write neat and extensible RESTful web application</title>
    <link rel="stylesheet" type="text/css" href="./css/reset-min.css">
    <link rel="stylesheet" type="text/css" href="./css/./css/css">
    <link rel="stylesheet" type="text/css" href="./css/css(1)">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div id="title">Neat PHP Framework</div>
        <div id="subtitle">Neat PHP Framework helps you write neat and extensible RESTful web application</div>
        <div id="nav">
            <a href="/">About</a>
            <a href="/install">Install</a>
            <a href="/learn">Learn</a>
            <a href="https://github.com/neatphp/neat">Repository</a>
        </div>
    </div>
    <div id="content">
        <h1>What is Flight?</h1>

        <p>Flight is a fast, simple, extensible framework for PHP.
            Flight enables you to quickly and easily build RESTful web applications.</p>

<pre><code>require 'flight/Flight.php';

    Flight::route('/', function(){
    echo 'hello world!';
    });

    Flight::start();
</code></pre>

        <p><a href="http://flightphp.com/learn">Learn more</a></p>

        <h1>Requirements</h1>

        <p>Flight requires PHP 5.3 or greater.</p>

        <h1>License</h1>

        <p>Flight is released under the <a href="http://flightphp.com/license">MIT</a> license.</p>
    </div>
    <div id="footer">
        Copyright © 2011-2015 Mike Cao<br>
        Powered by Flight
    </div>
</div>
<script type="text/javascript" async="" src="./Flight - An extensible micro-framework for PHP_files/ga.js"></script><script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-101933-10']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>


</body></html>